# Local Development Configuration
NEXT_PUBLIC_IOT_BACKEND_HOST=localhost
NEXT_PUBLIC_IOT_BACKEND_PORT=8765

# Comment out Render configuration
# NEXT_PUBLIC_IOT_BACKEND_HOST=megg-iot-backend.onrender.com
# NEXT_PUBLIC_IOT_BACKEND_PORT=443
